body {
    margin: 60px auto;
    width: 70%;
    letter-spacing: 1px;
    font-size: medium;
    line-height: 2em;
}
nav ul, footer ul {
    font-family:'Tahoma';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #999;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-family:'Tahoma';
    letter-spacing: 5px;
    font-size: xx-large;
}
h2 {
    font-family:'Tahoma';
    letter-spacing: 5px;
    font-size: x-large;
}
h3 {
    font-family:'Tahoma';
    letter-spacing: 5px;
    font-size: large;
}
p {
    font-family:'Tahoma';
    letter-spacing: 1px;
    font-size: medium;
    line-height: 2em;
    color: #333;
}
footer {
    font-family:'Tahoma';
    letter-spacing: 1px;
    border-top: 1px solid #d5d5d5;
    font-size: small;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-family:'Tahoma';
    letter-spacing: 5px;
    font-size: medium;
}

ul.posts li {
    list-style: none;
}
