body {
    margin-top: 20px;
    font-family: Spectral, serif;
    margin: 60px auto;
    text-align: justify;
    text-justify: inter-word;
    width: 65%;
    background-color: #ffffff;
    color: black;
    line-height: 32px;   /* within paragraph */
    margin-bottom: 30px; /* between paragraphs */
}

.topnav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  list-style-type: none;
  margin: 0px;
  padding: 0px 5px;
  overflow: hidden;
  background-color: #3da542;
}

.topnav a {
  float: left;
  display: block;
  color: #ffffff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: Rubik, sans-serif;
  font-weight: bold;
  border-bottom: 3px solid #a7d379;
}

.topnav a:hover {
  border-bottom: 3px solid #a7d379;
}

.topnav a.active {
  border-bottom: 3px solid #a7d379;
}

nav ul, footer ul {
    color: red;
    font-family: Rubik, sans-serif;
    padding: 0px;
    list-style: none;
    font-weight: bold;
}

nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    border-top: 3px solid #000000;
}

h1 {
    margin-top: 100px;
    font-size: 2em;
    font-family: Rubik, sans-serif;
    text-align: center;
}

h2 {
    font-size: 1.8em;
    font-family: Rubik, sans-serif;
    text-align: center;
}

h3 {
    font-size: 1.6em;
    font-family: Rubik, sans-serif;
    text-align: left;
}

p {
    margin-top: 20px;
    font-size: 1.3em;
    line-height: 32px;   /* within paragraph */
    margin-bottom: 30px; /* between paragraphs */
    text-align: justify;
    text-justify: inter-word;
    color: #333;
}

footer {
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0px;
    padding: 0px 20px;
    position: fixed;
    background-color: #000000;
    border-top: 3px solid #a9a9a9;
    font-size: 1em;
    width: 100%;
}

ul.posts { 
    text-align: justify;
    text-justify: inter-word;
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}


