body {
    font-family: Lora, serif;
    margin: 60px auto;
    text-align: left;
    width: 50%;
    background-color: white;
    color: black;
}

.topnav {
  background-color: white;
  overflow: hidden;
}

.topnav a {
  float: left;
  display: block;
  color: red;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: Lora, serif;
  font-weight: bold;
  border-bottom: 3px solid transparent;
}

.topnav a:hover {
  border-bottom: 3px solid red;
}

.topnav a.active {
  border-bottom: 3px solid red;
}

nav ul, footer ul {
    font-family: Lora, serif;
    padding: 0px;
    list-style: none;
    font-weight: bold;
}

nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}

a {
    text-decoration: none;
    color: #999;
}

a:hover {
    text-decoration: underline;
}

h1 {
    font-size: 2em;
    font-family: Ubuntu, sans-serif;
    text-align: center;
}

h2 {
    font-size: 1.8em;
    font-family: Ubuntu, sans-serif;
    text-align: left;
}

h3 {
    font-size: 1.6em;
    font-family: Ubuntu, sans-serif;
    text-align: left;
}

p {
    font-size: 1.5em;
    line-height: 1.4em;
    text-align: left;
    color: #333;
}

footer {
    border-top: 1px solid #d5d5d5;
    font-size: 1em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}
