---
layout: default
title: posts
permalink: /posts/
description: "ENTER HERE"
---

<section class="section updates-section">
  <h2 class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-rss fa-stack-1x fa-inverse"></i>
    </span>
    Posts
  </h2>
  
{% assign photo_pages = site.pages | where: "layout", "photo_set" | sort: 'name' | reverse %}
 
{% for photo_page in photo_pages %}
  <div class="item">
    <div class="meta">
		<a href="{{ photo_page.url | prepend: site.baseurl }}"><h2 class="job-title"><b>{{photo_page.title }}</b></h2></a>
	  <div class="upper-row">
        <div class="time"><i>{{ photo_page.time }}</i></div>
		<div class="company">{{ photo_page.company }}</div>
      </div><!--//upper-row-->
	  
		{% if page.description %}
		<div class="details" style="text-align: justify; text-justify: auto">
			{{ content.excerpt | markdownify }}
		</div><!--//details-->
		{% endif %}
		
		{% unless page.set==0 %}
		<div class="lower-row">
		<ul>
			<img src="{{ site.baseurl }}/assets/photos/{{ photo_page.photos.set }}-1.jpg" style="height: 70%; width: 70%; object-fit: contain" >
		</ul>
		</div><!--//meta-->
	  {% endunless %}

	  <hr style="width:50%">
	  
	</div>
  </div>
{% endfor %}

</section><!--//section-->
