<div  class="interests-container container-block">

  <h2 class="container-block-title">
	<a href="https://anilist.co/user/finer/mangalist" target="_blank" rel="noreferrer noopener">
    Recently Read
	</a>
  </h2>
  
  <div id="last-read-manga" class="interest-grid"></div>

</div><!--//last read manga-->

<div class="interests-container container-block">

  <h2 class="container-block-title">
	<a href="https://anilist.co/user/finer/animelist" target="_blank" rel="noreferrer noopener">
    Recently Watched
	</a>
  </h2>
  

	<div id="last-watched-anime" class="interest-grid"></div>

</div><!--//last watched aniime-->

