<div  class="interests-container container-block">

  <h2 class="container-block-title">
	<a href="https://anilist.co/user/finer/mangalist" target="_blank" rel="noreferrer noopener">
    Recently Read
	</a>
  </h2>
  

  <ul class="list-unstyled interests-list">

      <div id="last-read-manga" style="display: grid;object-fit:cover;grid-template-columns: repeat(auto-fit, minmax(64px, 1fr));grid-template-rows: 1fr;grid-auto-rows: 0;overflow: hidden;"></div>

  </ul>


</div><!--//last read manga-->

<div class="interests-container container-block">

  <h2 class="container-block-title">
	<a href="https://anilist.co/user/finer/animelist" target="_blank" rel="noreferrer noopener">
    Recently Watched
	</a>
  </h2>
  

  <ul class="list-unstyled interests-list">

      <div id="last-read-anime" style="display: grid;object-fit:cover;grid-template-columns: repeat(auto-fit, minmax(64px, 1fr));grid-template-rows: 1fr;grid-auto-rows: 0;overflow: hidden;"></div>

  </ul>


</div><!--//last watched aniime-->

<script src="{{site.baseurl}}/assets/js/anilist.js"></script>