<div  class="interests-container container-block">

  <h2 class="container-block-title">
	<a href="https://anilist.co/user/finer/mangalist" target="_blank" rel="noreferrer noopener">
    Recently Read
	</a>
  </h2>
  

  <ul class="interest-grid">

      <div id="last-read-manga"></div>

  </ul>


</div><!--//last read manga-->

<div class="interests-container container-block">

  <h2 class="container-block-title">
	<a href="https://anilist.co/user/finer/animelist" target="_blank" rel="noreferrer noopener">
    Recently Watched
	</a>
  </h2>
  

  <ul class="interest-grid">

      <div id="last-read-anime"></div>

  </ul>


</div><!--//last watched aniime-->

