<div class="contact-container container-block">
  <ul class="list-unstyled contact-list">

    {% if sidebar.email %}
    <li class="email"><i class="fas fa-envelope fa-fw"></i>
      <a href="mailto:{{ sidebar.email }}">{{ sidebar.email }}</a>
    </li>
    {% endif %}

    {% if sidebar.phone %}
    <li class="phone"><i class="fas fa-phone fa-fw"></i>
      <a href="tel:{{ sidebar.phone }}">{{ sidebar.phone }}</a>
    </li>
    {% endif %}

    {% if sidebar.timezone %}
    <li class="timezone"><i class="fas fa-clock fa-fw"></i>
      <a href="ttps://time.is/{ sidebar.timeis }}" target="_blank">{{ sidebar.timezone }}</a>
    </li>
    {% endif %}
	
	{% if sidebar.website %}
    <li class="website"><i class="fas fa-globe-asia fa-fw"></i>
      <a href="http://{{ sidebar.website }}" target="_blank">{{ sidebar.website }}</a>
    </li>
    {% endif %}  
	
    {% if sidebar.twitter %}
    <li class="twitter"><i class="fab fa-twitter fa-fw"></i>
      <a href="https://twitter.com/{{ sidebar.twitter }}" target="_blank">{{ sidebar.twitter }}</a>
    </li>
    {% endif %}
	
    {% if sidebar.orcid %}
    <li class="orcid"><i class="fas fa-graduation-cap fa-fw"></i>
      <a href="https://orcid.org/{{ sidebar.orcid }}" target="_blank">ORCID</a>
    </li>
    {% endif %}
	
    {% if sidebar.scholar %}
    <li class="scholar"><i class="fas fa-graduation-cap fa-fw"></i>
      <a href="https://scholar.google.com/citations?user={{ sidebar.scholar }}" target="_blank">Google Scholar</a>
    </li>
    {% endif %}
	
    {% if sidebar.github %}
    <li class="github"><i class="fab fa-github fa-fw"></i>
      <a href="http://github.com/{{ sidebar.github }}" target="_blank">Github</a>
    </li>
    {% endif %}

    {% if sidebar.stack-overflow %}
    <li class="stack-overflow"><i class="fab fa-stack-overflow fa-fw"></i>
      <a href="https://stackoverflow.com/users/{{ sidebar.stack-overflow }} target="_blank"" target="_blank">Stackoverflow</a>
    </li>
    {% endif %}

	{% if sidebar.linkedin %}
    <li class="linkedin"><i class="fab fa-linkedin fa-fw"></i>
      <a href="https://linkedin.com/in/{{ sidebar.linkedin }} target="_blank"" target="_blank">LinkedIn</a>
    </li>
    {% endif %}
	 
    {% if sidebar.vcard %}
    <li class="pdf"><i class="fas fa-address-card fa-fw"></i>
      <a href="{{ sidebar.vcard }}:" target="_blank">vCard file</a>
    </li>
    {% endif %}
	
  </ul>
</div><!--//contact-container-->
