<div id="hideblock" class="interests-container container-block">

  <h2 class="container-block-title">
	<a href="https://www.last.fm/user/fibrili/library/albums?date_preset=LAST_30_DAYS" target="_blank" rel="noreferrer noopener">
    30-days top albums
	</a>
  </h2>
  

  <ul class="list-unstyled interests-list">

      <div id="topalbums"></div>

  </ul>


</div><!--//interests-->

<div id="hideblock" class="interests-container container-block">

  <h2 class="container-block-title">
	<a href="https://www.last.fm/user/fibrili/library" target="_blank" rel="noreferrer noopener">
    Recently Played
	</a>
  </h2>

  <ul class="list-unstyled interests-list">

      <div id="recenttracks"></div>

  </ul>
</div>

<script src="{{site.baseurl}}/assets/js/lastFM.js"></script>