<div id="hideblock" class="interests-container container-block">

  <h2 class="container-block-title">
	<a href="https://www.last.fm/user/fibrili/library" target="_blank" rel="noreferrer noopener">
    Recently Played
	</a>
  </h2>

  <ul class="list-unstyled interests-list">

      <div id="recenttracks"></div>

  </ul>
</div>

<div id="hideblock" class="interests-container container-block">

  <h2 class="container-block-title">
	<a href="https://www.last.fm/user/fibrili/library/albums?date_preset=LAST_7_DAYS" target="_blank" rel="noreferrer noopener">
    7-days top albums
	</a>
  </h2>
  

  <ul class="list-unstyled interests-list">

      <div id="topalbums" style="display: grid;grid-template-columns: repeat(auto-fit, minmax(32px, 1fr));grid-template-rows: 1fr;grid-auto-rows: 0;overflow: hidden;"></div>

  </ul>


</div><!--//interests-->

<div id="hideblock" class="interests-container container-block">

  <h2 class="container-block-title">
	<a href="https://www.last.fm/user/fibrili/library/artists?date_preset=LAST_7_DAYS" target="_blank" rel="noreferrer noopener">
    7-days top artists
	</a>
  </h2>
  

  <ul class="list-unstyled interests-list">

      <div id="topartists" style="display: grid;grid-template-columns: repeat(auto-fit, minmax(32px, 1fr));grid-template-rows: 1fr;grid-auto-rows: 0;overflow: hidden;"></div>

  </ul>


</div><!--//interests-->

<script src="{{site.baseurl}}/assets/js/lastFM.js"></script>