<div class="interests-container container-block">

  <h2 class="container-block-title">
	<a href="https://www.last.fm/user/fibrili/playlists" target="_blank" rel="noreferrer noopener">
    Top songs previous years
	</a>
  </h2>
  

  <div class="interest-grid">

      <a href="https://www.last.fm/user/fibrili/playlists/12562647"><img src='{{site.baseurl}}/assets/general/replay2022.webp' title='Most Played 2022' alt='Most Played 2022'></a>	
	  <a href="https://www.last.fm/user/fibrili/playlists/12562646"><img src="{{site.baseurl}}/assets/general/replay2021.webp" title="Most Played 2021" alt="Most Played 2021"></a>	
	  <a href="https://www.last.fm/user/fibrili/playlists/12562645"><img src="{{site.baseurl}}/assets/general/replay2020.webp" title="Most Played 2020" alt="Most Played 2020"></a>	
	  <a href="https://www.last.fm/user/fibrili/playlists/12562644"><img src="{{site.baseurl}}/assets/general/replay2019.webp" title="Most Played 2019" alt="Most Played 2019"></a>
	  <span style="height:64px;width:64px;"></span><span style="height:64px;width:64px;"></span><span style="height:64px;width:64px;"></span><span style="height:64px;width:64px;"></span><span style="height:64px;width:64px;"></span><span style="height:64px;width:64px;"></span>
	  

  </div>


</div><!--//most played-->


<div class="interests-container container-block">

  <h2 class="container-block-title">
	<a href="https://www.last.fm/user/fibrili/library/albums?date_preset=LAST_7_DAYS" target="_blank" rel="noreferrer noopener">
    Top albums last week
	</a>
  </h2>
  

  <ul class="interest-grid">

      <div id="topalbums"></div>

  </ul>


</div><!--//top albums-->

