{% assign projects = site.data.data.projects %} {% if projects %}
<section class="section projects-section">
  <h2 class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-archive fa-stack-1x fa-inverse"></i>
    </span>
    {{ projects.title }}
    <button
      id="readMore2"
      class="hyperlink_blue readmore"
      onclick="togglePosts('.loop2', 'readMore2', 3)"
    >
      <b>[Expand +]</b>
    </button>
  </h2>

  {% for project in projects.assignments limit:3 %}
  <div class="loop2">
    <div class="item">
      <li class="project-title" style="font-family: Josefin Sans, sans-serif";>

        {% if project.link %}
        <a href="{{ project.link }}" target="_blank" >{{ project.title }}</a>
        {% else %} {{ project.title }} {% endif %}

      </li>

      {% if project.role %}
      <div class="project-tagline" style="padding-bottom: 5px;">{{ project.role }}</div>
      {% endif %}

      {% if project.tagline %}
      <div class="project-tagline" style="font-size: 80%";><i>{{ project.tagline }}</i></div>
      {% endif %}
    </div>
    <!--//item-->
  </div>
  {% endfor %} {% for project in projects.assignments offset:3 %}
  <div class="loop2 hidden">
    <div class="item">
      <li class="project-title" style="font-family: Josefin Sans, sans-serif";>

        {% if project.link %}
        <a href="{{ project.link }}" target="_blank" >{{ project.title }}</a>
        {% else %} {{ project.title }} {% endif %}

      </li>

      {% if project.role %}
      <div class="project-tagline" style="padding-bottom: 5px;">{{ project.role }}</div>
      {% endif %}

      {% if project.tagline %}
      <div class="project-tagline" style="font-size: 80%";><i>{{ project.tagline }}</i></div>
      {% endif %}
    </div>
  <!--//item-->
  </div>
  {% endfor %}
</section>
<!--//section-->
{% endif %}
