{% assign works = site.data.data.works %} {% if works %}
{% for work in works %}
<section class="section publications-section"></section>
  <h2 class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas {{ work.icon }} fa-stack-1x fa-inverse"></i><!--//change icon here-->
    </span>
    {{ work.title }}
    <button 
      id="readMore2" 
      class="hyperlink_blue readmore" 
      onclick="togglePosts('.loop2', 'readMore2')"
      >
        <b>[Expand +]</b>
    </button>
  </h2>


  <div style="line-height:100%;">
    <br>
  </div>

  {% for year in work.years limit:2 %}
  <div class="loop2">
  <li style="list-style-type: none;padding: 0;margin: 0;"><b>{{ year.year }}</b></li>
  <ul class="fa-ul" style="margin-left:0;">
    {% for publication in year.papers %}
    <div class="item" style="margin-bottom: 20px; margin-top: 10px;">
      <li class="work_div"><i class="fa-li fa {{ publication.icon }}" style="position:initial"></i>{{ publication.title }}
        <span id="showblock"> <br> </span>
      {% if publication.link %}
        
        {% if publication.link %}
        <a href="{{ publication.link }}" target="_blank" class="hyperlink_blue">[SOURCE]</a>
        {% endif %}
          
        {% if publication.fulltext %}
        <a href="{{ publication.fulltext }}" target="_blank" class="hyperlink_blue">[FULL TEXT]</a>
        {% endif %}

        {% if publication.scholar %}
        <a href="https://scholar.google.com/citations?view_op=view_citation&hl=en&citation_for_view=7waEOqcAAAAJ:{{ publication.scholar }}" target="_blank" class="hyperlink_blue">[GOOGLE SCHOLAR]</a>
        {% endif %}

      {% else %}
        </li>
      {% endif %}
      <div id="hideblock" class="publication-authors">{{ publication.authors }}</div>
      <div class="publication-conference" style="font-size: 80%;">{{ publication.venue }}</div>
    </div><!--//item-->
    <div style="line-height:50%;">
      <br>
    </div>
    {% endfor %}
  </ul>
  <br>  
  {% endfor %}

  {% for year in work.years offset:2 %}
  <div class="loop2 hidden">
  <li style="list-style-type: none;padding: 0;margin: 0;"><b>{{ year.year }}</b></li>
  <ul class="fa-ul" style="margin-left:0;">
    {% for publication in year.papers %}
    <div class="item" style="margin-bottom: 20px; margin-top: 10px;">
      <li class="work_div"><i class="fa-li fa {{ publication.icon }}" style="position:initial"></i>{{ publication.title }}
        <span id="showblock"> <br> </span>
      {% if publication.link %}
        
        {% if publication.link %}
        <a href="{{ publication.link }}" target="_blank" style="color:blue;font-size:80%;font-family: monospace, monospace;">[SOURCE]</a>
        {% endif %}
          
        {% if publication.fulltext %}
        <a href="{{ publication.fulltext }}" target="_blank" style="color:blue;font-size:80%;font-family: monospace, monospace;">[FULL TEXT]</a>
        {% endif %}

        {% if publication.scholar %}
        <a href="https://scholar.google.com/citations?view_op=view_citation&hl=en&citation_for_view=7waEOqcAAAAJ:{{ publication.scholar }}" target="_blank" style="color:blue;font-size:80%;font-family: monospace, monospace;">[GOOGLE SCHOLAR]</a>
        {% endif %}

      {% else %}
        </li>
      {% endif %}
      <div id="hideblock" class="publication-authors">{{ publication.authors }}</div>
      <div class="publication-conference" style="font-size: 80%;">{{ publication.venue }}</div>
    </div><!--//item-->
    <div style="line-height:50%;">
      <br>
    </div>
    {% endfor %}
  </ul>
  <br>  
  </div>
  {% endfor %}
  
</section><!--//section-->

{% endfor %}

{% endif %}

