<!-- Javascript -->
<script
  type="text/javascript"
  src="{{site.baseurl}}/assets/plugins/jquery-1.11.3.min.js"
></script>
<script
  type="text/javascript"
  src="{{site.baseurl}}/assets/plugins/bootstrap/js/bootstrap.min.js"
></script>

<!-- custom js -->
<script
  type="text/javascript"
  src="{{site.baseurl}}/assets/js/main.js"
></script>
<script
  type="text/javascript"
  src="{{site.baseurl}}/assets/js/movediv.js"
></script>
<script
  type="text/javascript"
  src="{{site.baseurl}}/assets/js/lastFM.js"
></script>
<script
  type="text/javascript"
  src="{{site.baseurl}}/assets/js/unsplash.js"
></script>
<script
  type="text/javascript"
  src="{{site.baseurl}}/assets/js/anilist.js"
></script>
<script
  type="text/javascript"
  src="{{site.baseurl}}/assets/js/randomvalue.js"
></script>
<script
  type="text/javascript"
  src="{{site.baseurl}}/assets/js/currenttime.js"
></script>
<script
  type="text/javascript"
  src="{{site.baseurl}}/assets/js/loop_limit.js"
></script>

{% if site.analytics %} {% include analytics.html %} {% endif %}
