{% assign sidebar = site.data.data.sidebar %}
<div class="sidebar-wrapper">

	<div class="announce">
		<a class="animate-charcter" href="/blood#head" id="banner">
			<i class="fas fa-tint fa-fw"></i>
		</a>
	</div>

  <div class="profile-container">

    {% if sidebar.name %}
    <img class="avatar" src="{{ site.baseurl }}/assets/general/{{ sidebar.avatar }}" alt="profile picture" />
    {% endif %}

    {% if sidebar.name %}
    <a href="{{ site.baseurl }}/#"><h1 class="name">{{ sidebar.name }}</h1></a>
    {% endif %}

    {% if sidebar.tagline %}
    <h3 class="tagline">{{ sidebar.tagline }}</h3>
    {% endif %}

  </div><!--//profile-container-->

  {% include contact.html %}

  {% if sidebar.education %}
    {% include education.html %}
  {% endif %}

  {% include language.html %}
  {% include interests.html %}

  {% if sidebar.about %}
    {% include about.html %}
  {% endif %}

</div><!--//sidebar-wrapper-->

<script> 
function randomtext() {
    var randomtxt = [
			"Let's donate blood!!",
			"It's in you to give!!",
			"Red with life!!"
			];
    return randomtxt[Math.floor((Math.random() * 3.99))];
}

document.getElementById("banner").innerHTML = randomtext();
</script>