<section class="section updates-section">
  <h2 class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-bell fa-stack-1x fa-inverse"></i>
    </span>
    Updates
  </h2>
  
{% assign photo_pages = site.pages | where: "layout", "photo_set" | sort: 'name' | reverse %}

  {% for photo_page in photo_pages limit:1%}
  <div class="item">
    <div class="meta">
		<a href="{{ photo_page.url | prepend: site.baseurl }}"><h2 class="job-title"><b>{{photo_page.title }}</b></h2></a>
	  <div class="upper-row">
        <div class="time"><i>{{ photo_page.time }}</i></div>
		<div class="company">{{ photo_page.company }}</div>
      </div><!--//upper-row-->
	  
		{% if photo_page.description %}
		<div class="details" style="text-align: justify; text-justify: auto">
			</p>{{ photo_page.content }}<p>
		</div><!--//details-->
		{% endif %}	
  </div><!--//item-->
  {% endfor %}

<p><i>Read more of <a href="/posts"><b>my recent posts</b><a>.</i><p>

</section><!--//section-->