<section class="section updates-section">
  <h2 class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-bell fa-stack-1x fa-inverse"></i>
    </span>
    Updates
  </h2>
  
{% assign entries = site.pages | where: "layout", "entries" | sort: 'name' | reverse %}

<div id="updates">
  {% for entry in entries %}
  <div class="item">
    <div class="meta">
		<a href="{{ entry.url | prepend: site.baseurl }}#head"><h2 class="job-title"><b>{{entry.title }}</b></h2></a>
	  

			  <div class="upper-row">
				<div class="company">{{ entry.company }}<br>{{ entry.time }}</div>
				</div>

	  
		<div class="details" style="text-align: justify; text-justify: auto">
		{% assign divtag = entry.content | split: "<div" %}
		{% assign paragraph = divtag[0] | split: "<h" %}
			<p>
			{{ paragraph[0] | truncatewords: 80, "//... cont'd."}}
			</p>
		</div><!--//details-->
		
	</div><!--//item-->
  </div>
  {% endfor %}	
</div>

<p style="margin-top:20px;"><i>Read more of <a href="/posts#head"><b>my recent posts</b><a>.</i><p>

</section><!--//section-->
