/* Extra small devices (phones, less than 768px) */
@media (max-width: 767px) {
  body {
    padding: 0;
  }

  .sidebar-wrapper {
    position: static;
    width: inherit;
  }

  .wrapper {
    display: block;
  }

  .main-wrapper {
    padding: 30px;
  }

  .main-wrapper .time {
    position: static;
    display: block;
    margin-top: 5px;
  }

  .main-wrapper .upper-row {
    margin-bottom: 0;
  }
}
/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .sidebar-wrapper {
	grid-column: span 3;
    position: static;
  }

  .main-wrapper {
	grid-column: span 7;
    padding: 30px;
  }
  
  .posts{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
    margin-top: 0;
  }
	
   .photos{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 6px;
    margin-top: 0;
  }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .sidebar-wrapper {
	grid-column: span 2;
    position: static;
  }

  .main-wrapper {
	grid-column: span 8;
    padding: 30px;
  }
  
  .posts{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    margin-top: 0;
  }
	
   .photos{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 6px;
    margin-top: 0;
  }
}

/* Ex-Large devices (large desktops, 1200px and up) */
@media (min-width: 1400px) {
}

@media (min-width: 500px){
    
	
}