/* Extra small devices (phones, less than 768px) */
@media (max-width: 767px) {
  body {
    padding: 0;
  }

  .sidebar-wrapper {
    position: static;
    width: inherit;
  }

  .wrapper {
    display: block;
  }

  .main-wrapper {
    padding: 30px;
  }

  .main-wrapper .time {
    position: static;
    display: block;
    margin-top: 5px;
  }

  .main-wrapper .upper-row {
    margin-bottom: 0;
  }
  
   #hidefromside { 
    display: none; 
  } 
}
/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .sidebar-wrapper {
	grid-column: span 4;
  }

  .main-wrapper {
	grid-column: span 6;
  }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .sidebar-wrapper {
	grid-column: span 3;
  }

  .main-wrapper {
	grid-column: span 7;
  }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .sidebar-wrapper {
	grid-column: span 2;
  }

  .main-wrapper {
	grid-column: span 8;
  }
}

/* Ex-Large devices (large desktops, 1200px and up) */
@media (min-width: 1600px) {
}
