---
layout: default
title: blood
permalink: /blood/
---

<!--//address section-->
{% assign bld_cens = site.data.data.bld_cen %}
{% if bld_cens %}  
<section id="head" class="section updates-section">
  <h2 id="head" class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-tint fa-stack-1x fa-inverse"></i>
    </span>
    {{ bld_cens.title }}
  </h2>

<div id="posts">
  {% for bld_cen in bld_cens.direction %}
  <div class="item">

    <div class="meta">
      <div class="upper-row">
        <h3 class="job-title"><b>{{ bld_cen.name }}</b></h3>
      </div><!--//upper-row-->
      <div class="company">
		<a href={{ bld_cen.link }}  target="_blank">Website</a>
		<i> ({{ bld_cen.note}})</i>
		</div>
    </div><!--//meta-->

    {% if bld_cen.address %}
    <div class="details">
      <a href={{ bld_cen.geo }} title="Google Maps" target="_blank" >Address</a>: {{ bld_cen.address }}
	  <br> Telephone: {{ bld_cen.phone }}
    </div><!--//address-->
    {% endif %}
	<br>
  </div><!--//item-->
  {% endfor %}
 </div>
</section>
{% endif %}

<!--//records section-->
<section class="section updates-section">
  <h2 id="head" class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-tint fa-stack-1x fa-inverse"></i>
    </span>
    Blood Donation Records
  </h2>
  
<div id="gallery">
	<img src="/assets/photos/blood_th9.jpg" title="Bag filled with Platelets" alt="Bag filled with Platelets"/>
	<img src="/assets/photos/blood_th4.jpg" title="The platelet donation gets two records" alt="The platelet donation gets two records"/>
	<img src="/assets/photos/blood_th3.jpg" title="The first three donations in Ramathibodi" alt="The first three donations in Ramathibodi"/>
	<img src="/assets/photos/blood_th2.jpg" title="The first two donations in Ramathibodi" alt="The first two donations in Ramathibodi"/>
	<img src="/assets/photos/blood_th1.JPG" title="A badge, a card and a mask for my first donation in Thailand" alt="A badge, a card and a mask for my first donation in Thailand"/>
	<img src="/assets/photos/blood_mm2.JPG" title="The last four records in Myanmar" alt="The last four records in Myanmar"/>
	<img src="/assets/photos/blood_mm1.JPG" title="The first ten records" alt="The first ten records"/>
</div>
</section>