<!DOCTYPE html>
	<html>
		<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="theme-color" content="#3da542">
		<meta name="description" content="Htun Teza is a Burmese Data Scientist, Research Assistant, Dentist, Music, Movie and Anime Enthusiast, currently based in Bangkok Thailand.">
		<meta name="author" content="Htun Teza">
		<meta name="application-name" content="&nbsp;"/>
		<meta name="msapplication-TileColor" content="#FFFFFF" />
		<meta name="msapplication-TileImage" content="/icon/mstile-144x144.png" />
		<meta name="msapplication-square70x70logo" content="/icon/mstile-70x70.png" />
		<meta name="msapplication-square150x150logo" content="/icon/mstile-150x150.png" />
		<meta name="msapplication-wide310x150logo" content="/icon/mstile-310x150.png" />
		<meta name="msapplication-square310x310logo" content="/icon/mstile-310x310.png" />
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			<link rel="apple-touch-icon-precomposed" sizes="57x57" href="/icon/apple-touch-icon-57x57.png" />
			<link rel="apple-touch-icon-precomposed" sizes="114x114" href="/icon/apple-touch-icon-114x114.png" />
			<link rel="apple-touch-icon-precomposed" sizes="72x72" href="/icon/apple-touch-icon-72x72.png" />
			<link rel="apple-touch-icon-precomposed" sizes="144x144" href="/icon/apple-touch-icon-144x144.png" />
			<link rel="apple-touch-icon-precomposed" sizes="60x60" href="/icon/apple-touch-icon-60x60.png" />
			<link rel="apple-touch-icon-precomposed" sizes="120x120" href="/icon/apple-touch-icon-120x120.png" />
			<link rel="apple-touch-icon-precomposed" sizes="76x76" href="/icon/apple-touch-icon-76x76.png" />
			<link rel="apple-touch-icon-precomposed" sizes="152x152" href="/icon/apple-touch-icon-152x152.png" />
			<link rel="icon" type="image/png" href="/icon/favicon-196x196.png" sizes="196x196" />
			<link rel="icon" type="image/png" href="/icon/favicon-96x96.png" sizes="96x96" />
			<link rel="icon" type="image/png" href="/icon/favicon-32x32.png" sizes="32x32" />
			<link rel="icon" type="image/png" href="/icon/favicon-16x16.png" sizes="16x16" />
			<link rel="icon" type="image/png" href="/icon/favicon-128.png" sizes="128x128" />


			<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
			<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito|Source+Serif+Pro">
			


		</head>
		
			
			<div class="topnav" id="myTopnav">
				<a href="/">Home</a>
		        <a href="/about">About</a>
	        	<a href="/cv">CV</a>
	        	<a href="/blog">Blog</a>
				<a href="javascript:void(0);" class="icon" onclick="top_nav_func()">
					<i class="fa fa-bars"></i>
				</a>
			</div>
		<body>	
			<div class="container">
			
			{{ content }}
			
			</div>
			
			<script> 
			function top_nav_func() {
				var x = document.getElementById("myTopnav");
				if (x.className === "topnav") {
					x.className += " responsive";
				} else {
					x.className = "topnav";
				}
			}
			</script>

			
		</body>
			<footer>
	    		<ul>
	        		
				<li><a href="mailto:htun.tez@mahidol.edu" style="color:white;padding: 15px 15px;"><i class="fa-solid fa-envelope fa-lg"></i></i></a></li>
				<li><a href="mailto:htun.tez@ceb-rama.org" style="color:white;padding: 15px 15px;"><i class="fa-solid fa-envelope fa-lg"></i></i></a></li>
				<li><a href="https://www.linkedin.com/in/htunteza/" style="color:white;padding: 15px 15px;"><i class="fa-brands fa-linkedin fa-lg"></i></a></li>
				<li><a href="https://www.researchgate.net/profile/Htun-Teza" style="color:white;padding: 15px 15px;"><i class="fa-brands fa-researchgate fa-lg"></i></a></li>
	        	<li><a href="https://github.com/finerbrighterlighter" style="color:white;padding: 15px 15px;"><i class="fa-brands fa-github-square fa-lg"></i></a></li>
				<li><a href="https://unsplash.com/@finerbrighterlighter" style="color:white;padding: 15px 15px;"><i class="fa-brands fa-unsplash fa-lg"></i></a></li>
				<li><a href="https://orcid.org/0000-0002-1076-9513" style="color:white;padding: 15px 15px;"><i class="fa-brands fa-orcid fa-lg"></i></a></li>
					</ul>
			</footer>
		
	</html>

