<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">About</a></li>
	        		<li><a href="/cv">CV</a></li>
	        		<li><a href="/blog">Blog</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:kohtunteza@gmail.com">email</a></li>
				<li><a href="https://www.linkedin.com/in/htunteza/">linkedin</a></li>
				<li><a href="https://www.researchgate.net/profile/Htun-Teza">researchgate</a></li>
	        		<li><a href="https://github.com/finerbrighterlighter">github</a></li>
				<span id="badgeCont78"><script type="text/javascript" src="https://publons.com/mashlets?el=badgeCont78&rid=AHD-4054-2022&size=small"></script></span>
				</ul>
			</footer>
		</body>
	</html>

