<!DOCTYPE html>
	<html>
		<head>
		<meta charset="utf-8">
		<meta name="viewport" width="device-width, initial-scale=1.0">
		<meta name="description" content="Htun Teza is a Burmese Data Scientist, Research Assistant, Dentist, Music, Movie and Anime Enthusiast, currently based in Bangkok Thailand.">
		<meta name="author" content="Htun Teza">
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			<link rel="icon" type="image/png" href="/icon/tab.png">
			<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
			<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Ubuntu|Lora">
		</head>
		
			
			<div class="topnav">
				<a href="/">Home</a>
		        	<a href="/about">About</a>
	        		<a href="/cv">CV</a>
	        		<a href="/blog">Blog</a>
			</div>
		<body>	
			<div class="container">
			
			{{ content }}
			
			</div></container></body>
			<footer>
	    		<ul>
	        		
				<li><a href="mailto:kohtunteza@gmail.com">email <i class="fa-solid fa-envelope"></i></a></li>
				<li><a href="https://www.linkedin.com/in/htunteza/">linkedin <i class="fa-brands fa-linkedin"></i></a></li>
				<li><a href="https://www.researchgate.net/profile/Htun-Teza">researchgate <i class="fa-brands fa-researchgate"></i>
	        		<li><a href="https://github.com/finerbrighterlighter">github <i class="fa-brands fa-github-square"></i>
				<li><a href="https://unsplash.com/@finerbrighterlighter">unsplash <i class="fa-brands fa-unsplash"></i>
				</ul>
			</footer>
		
	</html>

