---
layout: default
---

{% assign num = page.photos.size %}

<h2>{{ page.title }}</h2>
<br>

{% if page.description %}
<div class="details" style="text-align: justify; text-justify: auto">
  {{ page.description | markdownify }}
</div><!--//details-->
{% endif %}

<br>

<link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400&display=swap" rel="stylesheet">

<ul>
  {% for i in (1..num) %}
<div class="gallery">
	<div class="gallery__column">
			<figure class="gallery__thumb">
				<img src="{{ site.baseurl }}/gallery/{{ page.photos.set }}-{{ i }}.jpg" alt="Photo {{ i }} from {{ page.photos.set | capitalize }}" class="gallery__image">
				<figcaption class="gallery__caption">test</figcaption>
			</figure>
	</div>
</div>
</ul>

<br>
<br>
<div>
  <li><a href="{{ site.baseurl }}/updates/" style="text-align: right; margin-left: auto; margin-right:0">View all updates.</a></li>
</div>
<div>
  <li><a href="{{ site.baseurl }}/#" style="text-align: right; margin-left: auto; margin-right:0">Back to home page.</a></li>
</div>