---
layout: default
---

{% assign num = page.photos.size %}

<h2>{{ page.title }}</h2>
<ul>
  {% for i in (1..num) %}

    <img src="{{ site.baseurl }}/gallery/{{ page.photos.set }}-{{ i }}.jpg" alt="Photo {{ i }} from {{ page.photos.set | capitalize }}" style="height: 100%; width: 100%; object-fit: contain">

  <br>
  {% endfor %}
</ul>
<br>
<div>
  - <a href="{{ site.baseurl }}/updates/" style="align: right; margin-left: auto; margin-right:0">View all updates.</a>
</div>
<div>
  - <a href="{{ site.baseurl }}/#" style="align: right; margin-left: auto; margin-right:0">Back to home page.</a>
</div>